body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
}


svg {
    height: 100vh;
    width: 100vw;
    background-color: rgb(184, 217, 224);

}

.land {
    stroke: white;
    stroke-width: 0.6;
    fill: rgba(100, 110, 106, 0.502);
}

.land.win {
    fill: rgb(72, 208, 140);
}

.land:not(.win):not(.active):hover {
    fill: rgba(37, 52, 46, 0.502);
}

.land.active {
    fill: rgb(45, 46, 60);
}

input {
    height: 30px;
    position: fixed;
    padding: 15px 10px;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    width: 40vw;
    border-radius: 50px;
    outline: none;
    border: 2px solid #bbb;
    transition: 0.2s ease all;
    font-size: 16px;
    text-align: center;
    font-family: inherit;
    background-color: rgba(255, 255, 255, 0.792);
    filter: drop-shadow(0px 5px 10px rgba(39, 17, 77, 0.269));
}



input[type=text]:focus {
    border-color: rgb(45, 46, 60);
}

input[type=text]:disabled {
    border-color: rgba(100, 110, 106, 0.502);
    background-color: rgba(168, 191, 202, 0.792);
    filter:none;

}

input::placeholder {
    opacity: 1;
    color: rgba(45, 46, 60, 0.559);
}

#game_info {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    display: flex;
    gap: 1rem;
}

#game_info div {
    height: 30px;
    min-width: 80px;
    border-radius: 50px;
    border: 0.5px solid white;
    text-align: center;
    background-color: rgb(45, 46, 60);
    color: white;
    filter: drop-shadow(0px 5px 10px rgba(39, 17, 77, 0.269));
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

#timer,
#score,
#totalCountries,
#score-heading {
    font-size: 13px;
    margin: 0;
}
#pause-game {
    position: fixed;
    top: 30px;
    right: 30px;
    height: 30px;
    min-width: 30px;
    border-radius: 50px;
    border: 0.5px solid white;
    text-align: center;
    background-color: rgb(45, 46, 60);
    color: white;
    filter: drop-shadow(0px 5px 10px rgba(39, 17, 77, 0.269));
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}
#pause-game i {
    color: white;
    font-size: 12px;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

#restartButton {
    display: none;
}